---
interface props {
    title: string;
    desc: string;
    oriPrice: number;
    price: number;
    renewal: number;
    iconHref: string;
    features: string[];
    addOns: string[];
}

const { title, desc, oriPrice, price, renewal, features, addOns, iconHref } =
    Astro.props;
const svgFilePath = "../../../../services/web-design/svg/";
const svgFile = svgFilePath + iconHref;
---

<div class="drop-shadow-md appears-animation">
    <div
        class="border-2 border-web-border bg-web-foreground flex flex-col rounded-xl p-10 pb-6 drop-shadow-md"
    >
        <div class="">
            <!-- title / desc -->
            <div class="flex flex-row gap-x-4">
                <div class="bg-gray-300 rounded-xl p-3 shrink-0">
                    <img
                        src={svgFile}
                        alt="product image"
                        class="rounded-xl w-[50px] h-[50px]"
                    />
                </div>
                <div class="flex flex-col justify-center">
                    <h1 class="text-2xl font-extrabold">{title}</h1>
                    <p class="text-web-copy-light">
                        {desc}
                    </p>
                </div>
            </div>
            <div class="w-full h-[1px] bg-web-border my-5"></div>
            <!-- price -->
            <div class="">
                <div class="flex flex-row items-center">
                    <h1
                        class="text-lg line-through font-extrabold text-web-copy-lighter mr-1"
                    >
                        RM {oriPrice}
                    </h1>
                    <h1 class="text-3xl font-extrabold">RM {price}</h1>
                </div>
                <div>
                    <h1 class="font-extrabold text-web-copy-light">
                        Renewal: Rm {renewal} /yr
                    </h1>
                </div>
            </div>
            <h1 class="font-bold text-xl my-5">What's included</h1>
            <!-- features list -->
            <div class="text-web-copy-light">
                <ul>
                    {features.map((feature) => <li>{feature}</li>)}
                </ul>
                <!-- divider -->
                <div class="flex flex-row items-center mx-2">
                    <div class="w-full h-[1px] bg-red-500"></div>
                    <h1 class="w-full text-center grow">Included Add On</h1>
                    <div class="w-full h-[1px] bg-red-500"></div>
                </div>
                <!-- add on -->
                <ul class="flex flex-col">
                    {addOns.map((addOn) => <li>{addOn}</li>)}
                </ul>
            </div>
            <a href="#" class="">
                <div
                    class="my-5 bg-web-secondary text-web-secondary-content justify-center items-center text-center rounded-xl p-2 hover:bg-web-secondary-light transition-all ease-in-out"
                >
                    <h1 class="text-xl font-bold">Purchase Now</h1>
                </div>
            </a>
            <a href="#" class="text-center">
                <div class="flex justify-center items-center">Add on?</div></a
            >
        </div>
    </div>
</div>

<script>
    import gsap from "gsap";
    let tl = gsap.timeline();
    tl.from(".appears-animation", {
        opacity: 0,
        duration: 1,
        stagger: 0.2,
    });
</script>
