---
interface props {
  question: string;
  answer: string;
  id: string;
}

const { question, answer, id } = Astro.props;
---

<div
  class="border-2 border-web-border p-4 rounded-xl px-5 bg-web-foreground drop-shadow-md qna-swipe-in-animation"
>
  <input type="checkbox" class="hidden peer w-full qna-checkbox" id={id} />
  <span class="peer-checked:rotate-90 inline-block text-3xl">➡️</span>
  <label for={id} class="text-2xl font-bold inline-block w-[90%]"
    >{question}</label
  >
  <div class="overflow-hidden">
    <div id={"collapse-div-" + id} class="h-0">
      <div class="w-full bg-web-copy-lighter h-[1px] mb-2"></div>
      <p>{answer}</p>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.from(".qna-swipe-in-animation", {
    scrollTrigger: {
      trigger: "#qna-section",
      start: "top center",
      end: "center center",
      scrub: true,
    },
    x: -200,
    opacity: 0,
    stagger: 0.5,
  });

  // trigger animation when checkbox is checked
  const checkboxes = document.querySelectorAll(".qna-checkbox");
  // get the id for each checkbox when checked

  checkboxes.forEach((checkbox) => {
    const collapseId = checkbox.id;
    let expandDiv = document.getElementById(
      `collapse-div-${collapseId}`,
    ) as any;
    let tl = gsap
      .timeline({
        paused: true,
      })
      .from(expandDiv, {
        height: 0,
        paddingTop: 0,
        paddingBottom: 0,
        paused: true,
      })
      .to(expandDiv, {
        height: "auto",
        duration: 0.25,
      })
      .to(expandDiv, {
        paddingTop: "1rem",
        paddingBottom: "1rem",
        duration: 0.25,
      });
    checkbox.addEventListener("change", (e: any) => {
      if (e.target.checked) {
        tl.play();
      } else {
        tl.reverse();
      }
    });
  });
</script>
